body {
   background-image: linear-gradient(180deg, #ff000094 0%, #ffff0083 100%);
   background-attachment: fixed;
   font-family: "Montserrat";
   text-align: center;
   margin: 0;
   overflow-x: hidden;
}

img {
   max-width: 200px;
   filter: drop-shadow(0px 5px 5px #000000a5);
}

.search-bar {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-items: center;
   justify-content: center;
}

.search-bar :placeholder-shown {
   font-weight: 550;
   text-transform: uppercase;
}

.search-bar button {
   font-size: 25px;
   border: none;
   border-radius: 10px;
   color: #000000b5;
   transition: all ease 0.2s;
}

.search-bar button:hover {
   color: #00b7ff;
   cursor: pointer;
}

input {
   margin: 10px;
   border: none;
   border-radius: 10px;
   padding: 10px;
   transition: all ease 0.2s;
}

input:hover {
   background-color: #ffd987;
}

#RecentSearches h2 {
   margin: 3px;
}

#RecentSearches a {
   font-size: 1.7rem;
   display: flex;
   justify-content: center;
   flex-direction: column;
   color: #ffffffb5;
   text-decoration: none;
   transition: all ease 0.2s;
   margin: 0;
}

#RecentSearches a:hover {
   color: #ffffff;
   cursor: pointer;
}

.invalid-search img,
.invalid-search,
#RecentSearches p {
   font-size: 1.25rem;
   font-weight: 700;
   color: #00000099;
}

#locationDot {
   font-size: 40px;
   color: #ffffff;
   transition: all ease 0.3s;
}

#locationDot:hover {
   color: #0077ffb5;
   cursor: pointer;
}

.large-text {
   color: #ffffff;
   text-shadow: 0px 2px 4px #00000094;
   font-size: 4rem;
   margin-bottom: 0;
}

.weather-display {
   font-weight: 700;
   font-size: 3rem;
}

.weather-display h1 {
   color: #ffffff;
   text-transform: uppercase;
   letter-spacing: 3px;
}

.weather-display button {
   text-transform: uppercase;
   font-size: 18px;
   border: 2px solid rgb(0, 0, 0);
   border-radius: 10px;
   padding: 5px;
   color: #000000ce;
   background-color: #ffc74e;
   transition: all ease 0.2s;
}

.weather-display button:hover {
   cursor: pointer;
   background-color: #eea300;
}

.weather-details {
   width: 100%;
   margin-top: 30px;
   font-size: 20px;
   padding: 10px;
}

.weather-details p1 {
   font-weight: 500;
}

.weather-details p2 {
   font-size: 2.5rem;
   font-weight: 600;
}

input[type="radio"] {
   appearance: none;
   width: 20px;
   height: 20px;
   border: 2px solid #000000;
   border-radius: 50%;
   outline: none;
   cursor: pointer;
   margin-right: 5px;
}
input[type="radio"]:checked {
   background-color: #0000007a;
}

.convert {
   font-size: 20px;
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
}
