body {
   background-color: #202124;
   font-family: "Montserrat", sans-serif;
   overflow-x: hidden;
   text-align: center;
   color: #E0E0E0;
   position: relative;
}

img {
   max-width: 200px;
   height: auto;
}

b {
   font-weight: 450;
   color: #8ab4f8;
}

#SearchBar {
   margin: 20px auto;
   max-width: fit-content;
   display: flex;
   align-items: center;
   padding: 5px;
   border-radius: 20px;
   background-color: #00000059;
   transition: all 0.2s ease;
}

#SearchBar input {
   font-size: 1.6rem;
   outline: none;
   border: none;
   background: transparent;
   padding: 8px;
   color: #E0E0E0;
}

#SearchBar span {
   font-size: 2rem;
   color: #8ab4f8c0;
   transition: color 0.2s ease;
   margin: 0 10px;
   pointer-events: auto;
}

#SearchBar span:hover {
   color: #8ab4f8;
   cursor: pointer;
}

#RecentSearches {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: center;
   max-width: fit-content;
   margin: 20px auto;
   padding: 12px;
   border-radius: 20px;
   background-color: #00000059;
}

#RecentSearches a {
   text-transform: uppercase;
   display: flex;
   gap: 1rem;
   font-size: 1.7rem;
   color: #8ab4f8c0;
   text-decoration: none;
   transition: color 0.2s ease;
}

#RecentSearches a:hover {
   color: #9bc2ff;
   cursor: pointer;
}

#ClearBtn {
   font-size: 2rem;
   cursor: pointer;
   color: #ff0000a8;
   transition: all 0.2s ease;
}

#ClearBtn:hover {
   color: #ff0000;
}

.material-symbols-outlined {
   margin-left: 12px;
}

#WelcomeMsg h1 {
   font-weight: 300;
   font-size: 3rem;
   color: #9aa0a6;
}

#WelcomeMsg img {
   max-width: 1200px;
   filter: hue-rotate(22deg) opacity(0.5) brightness(1.5) saturate(0.7);
   mix-blend-mode: screen;
}

#InvalidSearch img {
   max-width: 250px;
}

#InvalidSearch,
#RecentSearches p {
   font-size: 1.5rem;
   font-weight: 600;
   color: #e0e0e0;
   margin: 10px;
}

#WeatherDisplay {
   font-weight: 500;
   font-size: 3rem;
}

#WeatherDisplay h1 {
   text-transform: uppercase;
   letter-spacing: 3px;
   margin: 10px 0;
}

#WeatherDisplay p {
   text-transform: uppercase;
   letter-spacing: 3px;
   margin: 10px 0;
}

#WeatherData {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

#WeatherDetails {
   margin-top: 20px;
   font-size: 30px;
}

#WeatherDetails h1 {
   font-size: 30px;
   margin: 0;
   letter-spacing: 1px;
   font-weight: 400;
}

#TemperatureDisplay,
#WeatherDetails h2 {
   margin-top: 0px;
   font-weight: 600;
   color: #BDBDBD;
}